name: Lint, Build, Test

on:
    push:
        branches:
            - '**'
            - '!master'
    pull_request:
        types: [opened]

jobs:
    lint-build-test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v2

            - name: Setup Node.js
              uses: actions/setup-node@v1
              with:
                  node-version: '14.x'

            - name: Install dependencies
              run: yarn

            - name: Linting
              run: yarn lint

            - name: Build packages
              run: yarn build

            - name: Run tests
              run: yarn test
