name: Release

on:
    push:
        branches:
            - master

jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v3
              with:
                  token: ${{ secrets.ADMIN_TOKEN }}

            #needed for lerna / semantic release to correctly version
            - name: Fetch all tags
              run: git fetch --prune --unshallow --tags

            - name: Configure CI Git User
              run: |
                  git config --global user.name 'Release bot'
                  git config --global user.email 'oss@medly.com'

            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: '16.x'
                  cache: 'yarn'
                  registry-url: 'https://registry.npmjs.org'
                  scope: '@medly-components'

            - name: Install dependencies
              run: yarn

            - name: Publish packages
              run: yarn release
              env:
                  GH_TOKEN: ${{ secrets.ADMIN_TOKEN }}
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
