name: Storybook

on:
    push:
        branches:
            - master

jobs:
    storybook:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v2
              with:
                  token: ${{ secrets.ADMIN_TOKEN }}

            - name: Configure CI Git User
              run: |
                  git config --global user.name 'Release bot'
                  git config --global user.email 'oss@medly.com'

            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: '16.x'
                  cache: 'yarn'

            - name: Install dependencies
              run: yarn

            - name: Deploy storybook
              run: yarn storybook:deploy -- --ci
              env:
                  GH_TOKEN: ${{ secrets.ADMIN_TOKEN }}
